<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="../static/css/transperia.css" media="screen"/>
	<link rel="stylesheet" type="text/css" href="../static/css/potholes.css" media="screen" />
    <style type="text/css">
    </style>
	<script src="../static/js/jquery-1.10.1.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false">
    </script>
    <script type="text/javascript">

	var kmlLayer = new google.maps.KmlLayer(null);
	$(document).ready(function() {
		var mapOptions = {
			center: new google.maps.LatLng(40.440625, -79.970886),
			zoom: 12,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		var map = new google.maps.Map(document.getElementById("map-canvas"),
			mapOptions);

		var infowindow = new google.maps.InfoWindow({"maxWidth":200});

		function createListener(marker, pothole) {
			google.maps.event.addListener(marker, 'click', function() {
				infowindow.setContent("<div style='height: 100px; width: 100px'><a href=\"http://pittsburghpa.gov/311/form\">Tell the City of PGH</a><br/><img src=\"" + pothole.img_src + "\" height='100%' /></div>");
				infowindow.open(map, marker);
			});
		}

		var pothole_data = [
               { coordinate_lat: 40.44959, coordinate_long: -79.943673,
                 img_src: "https://pbs.twimg.com/media/BLsXD42CcAAKbqO.jpg:small",
                 id: "pothole1"
                 },
               { coordinate_lat: 40.44450, coordinate_long: -79.941779,
                 img_src: "http://cvcl.mit.edu/hybrid/cat2.jpg",
                 id: "pothole2"
                 }
               ];
	
		$.getJSON("http://pghpotholes.com:8000/getdata/", function(result) {
			result.forEach( function( pothole ) {
				// console.log(pothole)
			  	var marker = new google.maps.Marker({
				position: new google.maps.LatLng(pothole.lat, pothole.lng),
				map: map
			});
			createListener(marker, pothole);
			});
		});

		$.getJSON("http://seeclickfix.com/api/issues.json?at=Pittsburgh,+PA&query=pothole", function(scf_data) {
			scf_data.forEach( function( pothole ) {
			  var marker = new google.maps.Marker({
				position: new google.maps.LatLng(pothole.lat, pothole.lng),
				map: map
			  });
			  google.maps.event.addListener(marker, 'click', function() {
				infowindow.setContent("<div style='height: 100px; width: 100px'><h4>"+pothole.summary+"</h4><br/><a href=\""+pothole.bitly+"\">See-Click-Fix</a><p>"+pothole.description+"</p></div>");
				infowindow.open(map, marker);
			  });
			});
		});

		$(':input[name=overlays]').each( function () {
			$(this).change( function () {
				if ($(this).prop("checked"))
				{
					kmlLayer.setMap(null);
					kmlLayer = new google.maps.KmlLayer($(this).attr("value"));
					kmlLayer.setMap(map);
					if ($("#income-checkbox").prop("checked")) {
					  $("#map-legend").show();
					} else {
					  $("#map-legend").hide();
					}
				}
			});
		});

		$("#map-legend").hide();
	});
	
    </script>
  </head> 
  <body>
	<div class="container">
	
		<div class="main">

			<div class="header">
				<div class="title">
					<h1>PghPotholes</h1>
				</div>
			</div>
			
			<div class="content">
				<div class="item">
					<h2>Pothole Map:</h2>
					<div id="map-container">
						<div id="map-canvas" ></div>
						<div id="map-legend" ><img src="../static/img/Median_Scale_Under_Map.png" width="100%" /></div>
					</div>
				</div>
			</div>
			<div class="sidenav">
				<h1>Navigation</h1>
				<ul>
					<li>
						<a href=pothole.html>Home</a>
					</li>
					<li>
						<a href=about.html>About Us</a
					</li>
				</ul>
				<h1>Overlays</h1>
				<ul>
					<li>
						<form>
							<input type="radio" name="overlays" id="no-overlays-checkbox" checked="checked"/>
							<label for="no-overlays-checkbox">No Overlay</label>
							<br/>
							<input type="radio" name="overlays" id="voting-checkbox" value="http://pghpotholes.com:8000/static/kml/Council_District2012.kml" />
							<label for="voting-checkbox">Voting</label>
							<br/>
							<input type="radio" name="overlays" id="income-checkbox"/>
							<label for="income-checkbox">Median Income</label>
							<br/>
							<input type="radio" name="overlays" id="bus-checkbox" value="http://pghpotholes.com:8000/static/kml/Bus_Routes.kmz"/>
							<label for="bus-checkbox">Bus Routes</label>
						</form>
					</li>
				</ul>
			</div>
			<div class="clearer"><span></span></div>

		</div>

		<div class="footer">&copy; 2013 <a href="index.html">pghpotholes.com</a>. Valid <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> &amp; <a href="http://validator.w3.org/check?uri=referer">XHTML</a>. Template design by <a href="http://templates.arcsin.se">Arcsin</a>
		</div>
	</div>
  </body>
</html>